/* حطيت الكود دا في  فايل الجلوبال عشان يبقى الستايل بيتعمله امبورت من نفس المكان  ابقي قوليلي رأيك برضو انا عملت كومنت بس مشيلتش حاجة */

/* .custom-bullet {
  width: 23px;
  height: 5px;
  background: var(--gray);
  border-radius: 10px;
  opacity: 0.5;
  margin: 0 5px;
  transition: opacity 0.3s, background 0.3s;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
  opacity: 1;
  width: 67px;
} */
