{"swagger": "2.0", "info": {"title": "Royal Nano API", "description": "API documentation for Royal Nano ERP", "termsOfService": "https://www.google.com/policies/terms/", "contact": {"email": "your-email@example.com"}, "license": {"name": "BSD License"}, "version": "v1"}, "host": "royalnano.coderash.online", "schemes": ["https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/analytics/alerts/": {"get": {"operationId": "analytics_alerts_list", "description": "ViewSet for managing analytics alerts", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AnalyticsAlert"}}}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_alerts_create", "description": "ViewSet for managing analytics alerts", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsAlert"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsAlert"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/alerts/{id}/": {"get": {"operationId": "analytics_alerts_read", "description": "ViewSet for managing analytics alerts", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsAlert"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_alerts_update", "description": "ViewSet for managing analytics alerts", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsAlert"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsAlert"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_alerts_partial_update", "description": "ViewSet for managing analytics alerts", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AnalyticsAlert"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AnalyticsAlert"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_alerts_delete", "description": "ViewSet for managing analytics alerts", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Analytics Alert.", "required": true, "type": "integer"}]}, "/analytics/dashboards/": {"get": {"operationId": "analytics_dashboards_list", "description": "ViewSet for managing dashboards", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Dashboard"}}}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_dashboards_create", "description": "ViewSet for managing dashboards", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/dashboards/{id}/": {"get": {"operationId": "analytics_dashboards_read", "description": "ViewSet for managing dashboards", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_dashboards_update", "description": "ViewSet for managing dashboards", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_dashboards_partial_update", "description": "ViewSet for managing dashboards", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_dashboards_delete", "description": "ViewSet for managing dashboards", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Dashboard.", "required": true, "type": "integer"}]}, "/analytics/dashboards/{id}/add_widget/": {"post": {"operationId": "analytics_dashboards_add_widget", "description": "Add a widget to the dashboard", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Dashboard"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Dashboard"}}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Dashboard.", "required": true, "type": "integer"}]}, "/analytics/dashboards/{id}/remove_widget/": {"delete": {"operationId": "analytics_dashboards_remove_widget", "description": "Remove a widget from the dashboard", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Dashboard.", "required": true, "type": "integer"}]}, "/analytics/data/available_sources/": {"get": {"operationId": "analytics_data_available_sources", "description": "Get list of available data sources", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/data/clear_cache/": {"delete": {"operationId": "analytics_data_clear_cache", "description": "Clear analytics cache", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/data/dashboard_data/": {"post": {"operationId": "analytics_data_dashboard_data", "description": "Generate complete dashboard data", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/data/filters_schema/": {"get": {"operationId": "analytics_data_filters_schema", "description": "Get available filters schema for analytics", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/data/generate/": {"post": {"operationId": "analytics_data_generate", "description": "Generate analytics data for a specific data source", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/data/kpis/": {"post": {"operationId": "analytics_data_kpis", "description": "Get Key Performance Indicators", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/preferences/": {"get": {"operationId": "analytics_preferences_list", "description": "ViewSet for managing user dashboard preferences", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/UserDashboardPreference"}}}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_preferences_create", "description": "ViewSet for managing user dashboard preferences", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserDashboardPreference"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserDashboardPreference"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/preferences/{id}/": {"get": {"operationId": "analytics_preferences_read", "description": "ViewSet for managing user dashboard preferences", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDashboardPreference"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_preferences_update", "description": "ViewSet for managing user dashboard preferences", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserDashboardPreference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDashboardPreference"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_preferences_partial_update", "description": "ViewSet for managing user dashboard preferences", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserDashboardPreference"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserDashboardPreference"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_preferences_delete", "description": "ViewSet for managing user dashboard preferences", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this User Dashboard Preference.", "required": true, "type": "integer"}]}, "/analytics/widgets/": {"get": {"operationId": "analytics_widgets_list", "description": "ViewSet for managing dashboard widgets", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/DashboardWidget"}}}}}}, "tags": ["analytics"]}, "post": {"operationId": "analytics_widgets_create", "description": "ViewSet for managing dashboard widgets", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardWidget"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DashboardWidget"}}}, "tags": ["analytics"]}, "parameters": []}, "/analytics/widgets/{id}/": {"get": {"operationId": "analytics_widgets_read", "description": "ViewSet for managing dashboard widgets", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardWidget"}}}, "tags": ["analytics"]}, "put": {"operationId": "analytics_widgets_update", "description": "ViewSet for managing dashboard widgets", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardWidget"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardWidget"}}}, "tags": ["analytics"]}, "patch": {"operationId": "analytics_widgets_partial_update", "description": "ViewSet for managing dashboard widgets", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DashboardWidget"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DashboardWidget"}}}, "tags": ["analytics"]}, "delete": {"operationId": "analytics_widgets_delete", "description": "ViewSet for managing dashboard widgets", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["analytics"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Dashboard Widget.", "required": true, "type": "integer"}]}, "/core/contact/": {"get": {"operationId": "core_contact_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Contact"}}}}}}, "tags": ["core"]}, "post": {"operationId": "core_contact_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Contact"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Contact"}}}, "tags": ["core"]}, "parameters": []}, "/core/contact/{id}/": {"get": {"operationId": "core_contact_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Contact"}}}, "tags": ["core"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this contact.", "required": true, "type": "integer"}]}, "/core/devices/": {"post": {"operationId": "core_devices_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FCMDevice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FCMDevice"}}}, "tags": ["core"]}, "parameters": []}, "/core/forgot-password/": {"post": {"operationId": "core_forgot-password_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/login/": {"post": {"operationId": "core_login_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/logout/": {"post": {"operationId": "core_logout_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/privacy-policy/": {"get": {"operationId": "core_privacy-policy_list", "description": "Get the privacy policy", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["core"]}, "post": {"operationId": "core_privacy-policy_create", "description": "Create or update the privacy policy", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/profile/": {"get": {"operationId": "core_profile_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["core"]}, "put": {"operationId": "core_profile_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/register/": {"post": {"operationId": "core_register_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/resend-otp/": {"post": {"operationId": "core_resend-otp_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/reset-password/": {"post": {"operationId": "core_reset-password_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/social-media/": {"get": {"operationId": "core_social-media_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SocialCode"}}}}}}, "tags": ["core"]}, "post": {"operationId": "core_social-media_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SocialCode"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SocialCode"}}}, "tags": ["core"]}, "parameters": []}, "/core/social-media/{id}/": {"get": {"operationId": "core_social-media_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SocialCode"}}}, "tags": ["core"]}, "put": {"operationId": "core_social-media_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SocialCode"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SocialCode"}}}, "tags": ["core"]}, "patch": {"operationId": "core_social-media_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SocialCode"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SocialCode"}}}, "tags": ["core"]}, "delete": {"operationId": "core_social-media_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["core"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Social Code.", "required": true, "type": "integer"}]}, "/core/statistics/": {"get": {"operationId": "core_statistics_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/core/verify-otp/": {"post": {"operationId": "core_verify-otp_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["core"]}, "parameters": []}, "/fields_settings/route/field-settings/schema/": {"get": {"operationId": "fields_settings_route_field-settings_schema_list", "summary": "Retrieve Model Field Schema and Visibility", "description": "Fetches all fields for a specified model and indicates visibility based on the authenticated user's settings. Defaults to visible if no setting exists.", "parameters": [{"name": "model", "in": "query", "description": "The name of the Django model (case-insensitive, e.g., 'User' or 'Product')", "required": true, "type": "string"}], "responses": {"200": {"description": "Successful retrieval of field schema", "schema": {"type": "object", "properties": {"model": {"description": "The name of the model queried", "type": "string"}, "fields": {"description": "List of fields with their visibility status", "type": "array", "items": {"type": "object", "properties": {"name": {"description": "The programmatic name of the field", "type": "string"}, "label": {"description": "A user-friendly label for the field", "type": "string"}, "visible": {"description": "Indicates if the field is currently set to be visible for the user", "type": "boolean"}}}}}}}, "400": {"description": "Bad Request (e.g., missing 'model' parameter, invalid model name)"}, "401": {"description": "Authentication credentials were not provided."}, "403": {"description": "Permission denied."}}, "tags": ["Field Settings"]}, "parameters": []}, "/fields_settings/route/field-settings/update/": {"post": {"operationId": "fields_settings_route_field-settings_update_create", "summary": "Update User Field Visibility Settings", "description": "Allows the authenticated user to set the visibility (true/false) for multiple fields of a specific model. Settings are stored per user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FieldDisplaySettingUpdate"}}], "responses": {"200": {"description": "Settings updated successfully.", "schema": {"type": "object", "properties": {"message": {"type": "string"}, "updated_settings": {"type": "array", "items": {"type": "object", "properties": {"field_name": {"type": "string"}, "visible": {"type": "boolean"}}}}}}}, "400": {"description": "Bad Request (e.g., invalid input format, invalid model name, invalid field name)"}, "401": {"description": "Authentication credentials were not provided."}, "403": {"description": "Permission denied."}}, "tags": ["Field Settings"]}, "parameters": []}, "/finance/accounts/": {"get": {"operationId": "finance_accounts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Account"}}}}}}, "tags": ["finance"]}, "post": {"operationId": "finance_accounts_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["finance"]}, "parameters": []}, "/finance/accounts/{id}/": {"get": {"operationId": "finance_accounts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["finance"]}, "put": {"operationId": "finance_accounts_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["finance"]}, "patch": {"operationId": "finance_accounts_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Account"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Account"}}}, "tags": ["finance"]}, "delete": {"operationId": "finance_accounts_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["finance"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this account.", "required": true, "type": "integer"}]}, "/finance/payment-voucher/": {"get": {"operationId": "finance_payment-voucher_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PaymentVoucher"}}}}}}, "tags": ["finance"]}, "post": {"operationId": "finance_payment-voucher_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentVoucher"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PaymentVoucher"}}}, "tags": ["finance"]}, "parameters": []}, "/finance/payment-voucher/{id}/": {"get": {"operationId": "finance_payment-voucher_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentVoucher"}}}, "tags": ["finance"]}, "put": {"operationId": "finance_payment-voucher_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentVoucher"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentVoucher"}}}, "tags": ["finance"]}, "patch": {"operationId": "finance_payment-voucher_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentVoucher"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentVoucher"}}}, "tags": ["finance"]}, "delete": {"operationId": "finance_payment-voucher_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["finance"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this payment voucher.", "required": true, "type": "integer"}]}, "/finance/receipt-voucher/": {"get": {"operationId": "finance_receipt-voucher_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ReceiptVoucher"}}}}}}, "tags": ["finance"]}, "post": {"operationId": "finance_receipt-voucher_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReceiptVoucher"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReceiptVoucher"}}}, "tags": ["finance"]}, "parameters": []}, "/finance/receipt-voucher/{id}/": {"get": {"operationId": "finance_receipt-voucher_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReceiptVoucher"}}}, "tags": ["finance"]}, "put": {"operationId": "finance_receipt-voucher_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReceiptVoucher"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReceiptVoucher"}}}, "tags": ["finance"]}, "patch": {"operationId": "finance_receipt-voucher_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReceiptVoucher"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReceiptVoucher"}}}, "tags": ["finance"]}, "delete": {"operationId": "finance_receipt-voucher_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["finance"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Receipt Voucher.", "required": true, "type": "integer"}]}, "/hr/applicants/": {"get": {"operationId": "hr_applicants_list", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Applicant"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_applicants_create", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Applicant"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Applicant"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/applicants/{id}/": {"get": {"operationId": "hr_applicants_read", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Applicant"}}}, "tags": ["hr"]}, "put": {"operationId": "hr_applicants_update", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Applicant"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Applicant"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_applicants_partial_update", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Applicant"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Applicant"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_applicants_delete", "description": "A viewset for viewing, creating, updating, and deleting applicants.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this applicant.", "required": true, "type": "integer"}]}, "/hr/attendance/": {"get": {"operationId": "hr_attendance_list", "description": "A viewset for viewing, creating, updating, and deleting attendance records.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Attendance"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_attendance_create", "description": "A viewset for viewing, creating, updating, and deleting attendance records.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Attendance"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Attendance"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/attendance/check_in/": {"post": {"operationId": "hr_attendance_check_in", "description": "Check in an employee with location validation.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Attendance"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Attendance"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/attendance/check_out/": {"post": {"operationId": "hr_attendance_check_out", "description": "Check out an employee with location validation.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Attendance"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Attendance"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/attendance/{id}/": {"get": {"operationId": "hr_attendance_read", "description": "A viewset for viewing, creating, updating, and deleting attendance records.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Attendance"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_attendance_partial_update", "description": "A viewset for viewing, creating, updating, and deleting attendance records.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Attendance"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Attendance"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_attendance_delete", "description": "A viewset for viewing, creating, updating, and deleting attendance records.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this attendance.", "required": true, "type": "integer"}]}, "/hr/bonus-deduction/": {"get": {"operationId": "hr_bonus-deduction_list", "description": "A viewset for viewing, creating, updating, and deleting bonus/deduction records.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BonusDeduction"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_bonus-deduction_create", "description": "A viewset for viewing, creating, updating, and deleting bonus/deduction records.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BonusDeduction"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BonusDeduction"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/bonus-deduction/{id}/": {"get": {"operationId": "hr_bonus-deduction_read", "description": "A viewset for viewing, creating, updating, and deleting bonus/deduction records.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BonusDeduction"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_bonus-deduction_partial_update", "description": "A viewset for viewing, creating, updating, and deleting bonus/deduction records.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BonusDeduction"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BonusDeduction"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_bonus-deduction_delete", "description": "A viewset for viewing, creating, updating, and deleting bonus/deduction records.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this bonus deduction.", "required": true, "type": "integer"}]}, "/hr/competition/": {"get": {"operationId": "hr_competition_list", "description": "A viewset for viewing, creating, updating, and deleting competitions.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Competition"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_competition_create", "description": "A viewset for viewing, creating, updating, and deleting competitions.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Competition"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Competition"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/competition/{id}/": {"get": {"operationId": "hr_competition_read", "description": "A viewset for viewing, creating, updating, and deleting competitions.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Competition"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_competition_partial_update", "description": "A viewset for viewing, creating, updating, and deleting competitions.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Competition"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Competition"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_competition_delete", "description": "A viewset for viewing, creating, updating, and deleting competitions.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this competition.", "required": true, "type": "integer"}]}, "/hr/department/": {"get": {"operationId": "hr_department_list", "description": "A viewset for viewing, creating, updating, and deleting departments.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Department"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_department_create", "description": "A viewset for viewing, creating, updating, and deleting departments.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Department"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Department"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/department/{id}/": {"get": {"operationId": "hr_department_read", "description": "A viewset for viewing, creating, updating, and deleting departments.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Department"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_department_partial_update", "description": "A viewset for viewing, creating, updating, and deleting departments.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Department"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Department"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_department_delete", "description": "A viewset for viewing, creating, updating, and deleting departments.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this department.", "required": true, "type": "integer"}]}, "/hr/employee-attachments/": {"get": {"operationId": "hr_employee-attachments_list", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [{"name": "employee", "in": "query", "description": "employee", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/EmployeeAttachment"}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "post": {"operationId": "hr_employee-attachments_create", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [{"name": "employee", "in": "formData", "required": true, "type": "integer"}, {"name": "name", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "description", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "file", "in": "formData", "required": true, "type": "file"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/EmployeeAttachment"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "parameters": []}, "/hr/employee-attachments/{id}/": {"get": {"operationId": "hr_employee-attachments_read", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EmployeeAttachment"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "put": {"operationId": "hr_employee-attachments_update", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [{"name": "employee", "in": "formData", "required": true, "type": "integer"}, {"name": "name", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "description", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "file", "in": "formData", "required": true, "type": "file"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EmployeeAttachment"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "patch": {"operationId": "hr_employee-attachments_partial_update", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [{"name": "employee", "in": "formData", "required": true, "type": "integer"}, {"name": "name", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "description", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "file", "in": "formData", "required": true, "type": "file"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EmployeeAttachment"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "delete": {"operationId": "hr_employee-attachments_delete", "description": "A viewset for viewing, creating, updating, and deleting employee attachments.", "parameters": [], "responses": {"204": {"description": ""}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Employee Attachment.", "required": true, "type": "integer"}]}, "/hr/employee-attachments/{id}/download/": {"get": {"operationId": "hr_employee-attachments_download", "description": "Download attachment file.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EmployeeAttachment"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this Employee Attachment.", "required": true, "type": "integer"}]}, "/hr/employee/": {"get": {"operationId": "hr_employee_list", "description": "A viewset for viewing, creating, updating, and deleting employees.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Employee"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_employee_create", "description": "A viewset for viewing, creating, updating, and deleting employees.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Employee"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Employee"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/employee/{id}/": {"get": {"operationId": "hr_employee_read", "description": "A viewset for viewing, creating, updating, and deleting employees.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Employee"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_employee_partial_update", "description": "A viewset for viewing, creating, updating, and deleting employees.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Employee"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Employee"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_employee_delete", "description": "A viewset for viewing, creating, updating, and deleting employees.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this employee.", "required": true, "type": "integer"}]}, "/hr/employee/{id}/upload_attachments/": {"post": {"operationId": "hr_employee_upload_attachments", "description": "Upload multiple attachments for an employee.", "parameters": [{"name": "user", "in": "formData", "required": false, "type": "integer"}, {"name": "name", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "email_address", "in": "formData", "required": true, "type": "string", "format": "email", "maxLength": 255, "minLength": 1}, {"name": "phone", "in": "formData", "required": true, "type": "string", "maxLength": 20, "minLength": 1}, {"name": "job_title", "in": "formData", "required": false, "type": "integer", "x-nullable": true}, {"name": "salary", "in": "formData", "required": true, "type": "string", "format": "decimal"}, {"name": "address", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "branch", "in": "formData", "required": true, "type": "integer"}, {"name": "is_user", "in": "formData", "required": false, "type": "boolean"}, {"name": "password", "in": "formData", "required": false, "type": "string"}, {"name": "extra_fields", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "custom_permissions", "in": "formData", "required": false, "type": "array", "items": {"type": "integer"}, "uniqueItems": true}, {"name": "department", "in": "formData", "required": false, "type": "integer", "x-nullable": true}, {"name": "leader", "in": "formData", "required": false, "type": "integer", "x-nullable": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Employee"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this employee.", "required": true, "type": "integer"}]}, "/hr/evaluation/": {"get": {"operationId": "hr_evaluation_list", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Evaluation"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_evaluation_create", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Evaluation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Evaluation"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/evaluation/{id}/": {"get": {"operationId": "hr_evaluation_read", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Evaluation"}}}, "tags": ["hr"]}, "put": {"operationId": "hr_evaluation_update", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Evaluation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Evaluation"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_evaluation_partial_update", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Evaluation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Evaluation"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_evaluation_delete", "description": "A viewset for viewing, creating, updating, and deleting evaluations.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this evaluation.", "required": true, "type": "integer"}]}, "/hr/interview/": {"get": {"operationId": "hr_interview_list", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Interview"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_interview_create", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Interview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Interview"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/interview/{id}/": {"get": {"operationId": "hr_interview_read", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Interview"}}}, "tags": ["hr"]}, "put": {"operationId": "hr_interview_update", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Interview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Interview"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_interview_partial_update", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Interview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Interview"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_interview_delete", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this interview.", "required": true, "type": "integer"}]}, "/hr/interview/{id}/details/": {"get": {"operationId": "hr_interview_details", "description": "A viewset for viewing, creating, updating, and deleting interviews.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Interview"}}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this interview.", "required": true, "type": "integer"}]}, "/hr/job-roles/": {"get": {"operationId": "hr_job-roles_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/JobRole"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_job-roles_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobRole"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/JobRole"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/job-roles/{id}/": {"get": {"operationId": "hr_job-roles_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JobRole"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_job-roles_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobRole"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JobRole"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_job-roles_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this job role.", "required": true, "type": "integer"}]}, "/hr/leave-request/": {"get": {"operationId": "hr_leave-request_list", "description": "A viewset for viewing, creating, updating, and deleting leave requests.", "parameters": [{"name": "employee", "in": "query", "description": "employee", "required": false, "type": "string"}, {"name": "start_date", "in": "query", "description": "start_date", "required": false, "type": "string"}, {"name": "end_date", "in": "query", "description": "end_date", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/LeaveRequest"}}}}}}, "tags": ["hr"]}, "post": {"operationId": "hr_leave-request_create", "description": "A viewset for viewing, creating, updating, and deleting leave requests.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LeaveRequest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/LeaveRequest"}}}, "tags": ["hr"]}, "parameters": []}, "/hr/leave-request/{id}/": {"get": {"operationId": "hr_leave-request_read", "description": "A viewset for viewing, creating, updating, and deleting leave requests.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LeaveRequest"}}}, "tags": ["hr"]}, "patch": {"operationId": "hr_leave-request_partial_update", "description": "A viewset for viewing, creating, updating, and deleting leave requests.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/LeaveRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/LeaveRequest"}}}, "tags": ["hr"]}, "delete": {"operationId": "hr_leave-request_delete", "description": "A viewset for viewing, creating, updating, and deleting leave requests.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this leave request.", "required": true, "type": "integer"}]}, "/hr/permissions/": {"get": {"operationId": "hr_permissions_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Permission"}}}}}}, "tags": ["hr"]}, "parameters": []}, "/hr/permissions/grouped/": {"get": {"operationId": "hr_permissions_grouped_permissions", "description": "Return permissions grouped by model with translations based on current language.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Permission"}}}}}}, "tags": ["hr"]}, "parameters": []}, "/hr/permissions/{id}/": {"get": {"operationId": "hr_permissions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["hr"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this permission.", "required": true, "type": "integer"}]}, "/inventory/branch-transactions/": {"get": {"operationId": "inventory_branch-transactions_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BranchAccountTransaction"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_branch-transactions_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/branch-transactions/{id}/": {"get": {"operationId": "inventory_branch-transactions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}}, "tags": ["inventory"]}, "put": {"operationId": "inventory_branch-transactions_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_branch-transactions_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BranchAccountTransaction"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_branch-transactions_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this branch account transaction.", "required": true, "type": "integer"}]}, "/inventory/branch/": {"get": {"operationId": "inventory_branch_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Branch"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_branch_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Branch"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Branch"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/branch/{id}/": {"get": {"operationId": "inventory_branch_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Branch"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_branch_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Branch"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Branch"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_branch_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this branch.", "required": true, "type": "integer"}]}, "/inventory/inventory-location/": {"get": {"operationId": "inventory_inventory-location_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/InventoryLocation"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_inventory-location_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InventoryLocation"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/InventoryLocation"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/inventory-location/{id}/": {"get": {"operationId": "inventory_inventory-location_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InventoryLocation"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_inventory-location_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InventoryLocation"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InventoryLocation"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_inventory-location_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this inventory location.", "required": true, "type": "integer"}]}, "/inventory/item-category/": {"get": {"operationId": "inventory_item-category_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ItemCategory"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_item-category_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ItemCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ItemCategory"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/item-category/{id}/": {"get": {"operationId": "inventory_item-category_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ItemCategory"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_item-category_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ItemCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ItemCategory"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_item-category_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this item category.", "required": true, "type": "integer"}]}, "/inventory/items/": {"get": {"operationId": "inventory_items_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/InventoryItem"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_items_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InventoryItem"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/InventoryItem"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/items/by-branch/{branch_id}/": {"get": {"operationId": "inventory_items_get_items_by_branch", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/InventoryItem"}}}}}}, "tags": ["inventory"]}, "parameters": [{"name": "branch_id", "in": "path", "required": true, "type": "string"}]}, "/inventory/items/{id}/": {"get": {"operationId": "inventory_items_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InventoryItem"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_items_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/InventoryItem"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InventoryItem"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_items_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this inventory item.", "required": true, "type": "integer"}]}, "/inventory/movement/": {"get": {"operationId": "inventory_movement_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Movement"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_movement_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Movement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Movement"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/movement/{id}/": {"get": {"operationId": "inventory_movement_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Movement"}}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this movement.", "required": true, "type": "integer"}]}, "/inventory/preorder/": {"get": {"operationId": "inventory_preorder_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Preorder"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_preorder_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Preorder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Preorder"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/preorder/{id}/": {"get": {"operationId": "inventory_preorder_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Preorder"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_preorder_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Preorder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Preorder"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_preorder_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this preorder.", "required": true, "type": "integer"}]}, "/inventory/stock-adjustment/": {"get": {"operationId": "inventory_stock-adjustment_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/StockAdjustment"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_stock-adjustment_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/StockAdjustment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/StockAdjustment"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/stock-adjustment/{id}/": {"get": {"operationId": "inventory_stock-adjustment_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/StockAdjustment"}}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this stock adjustment.", "required": true, "type": "integer"}]}, "/inventory/unit/": {"get": {"operationId": "inventory_unit_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Unit"}}}}}}, "tags": ["inventory"]}, "post": {"operationId": "inventory_unit_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Unit"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Unit"}}}, "tags": ["inventory"]}, "parameters": []}, "/inventory/unit/{id}/": {"get": {"operationId": "inventory_unit_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Unit"}}}, "tags": ["inventory"]}, "patch": {"operationId": "inventory_unit_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Unit"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Unit"}}}, "tags": ["inventory"]}, "delete": {"operationId": "inventory_unit_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["inventory"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this unit.", "required": true, "type": "integer"}]}, "/purchase/expense-category/": {"get": {"operationId": "purchase_expense-category_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ExpenseCategory"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_expense-category_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ExpenseCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ExpenseCategory"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/expense-category/{id}/": {"get": {"operationId": "purchase_expense-category_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ExpenseCategory"}}}, "tags": ["purchase"]}, "put": {"operationId": "purchase_expense-category_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ExpenseCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ExpenseCategory"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_expense-category_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ExpenseCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ExpenseCategory"}}}, "tags": ["purchase"]}, "delete": {"operationId": "purchase_expense-category_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this expense category.", "required": true, "type": "integer"}]}, "/purchase/purchase-invoice/": {"get": {"operationId": "purchase_purchase-invoice_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PurchaseInvoice"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_purchase-invoice_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseInvoice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PurchaseInvoice"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/purchase-invoice/{id}/": {"get": {"operationId": "purchase_purchase-invoice_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseInvoice"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_purchase-invoice_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseInvoice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseInvoice"}}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this purchase invoice.", "required": true, "type": "integer"}]}, "/purchase/purchase-invoice/{purchase_invoice_id}/items/": {"get": {"operationId": "purchase_purchase-invoice_items_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PurchaseInvoiceItem"}}}}}}, "tags": ["purchase"]}, "parameters": [{"name": "purchase_invoice_id", "in": "path", "required": true, "type": "string"}]}, "/purchase/purchase-invoice/{purchase_invoice_id}/items/{id}/": {"get": {"operationId": "purchase_purchase-invoice_items_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseInvoiceItem"}}}, "tags": ["purchase"]}, "parameters": [{"name": "purchase_invoice_id", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/purchase/purchase-order/": {"get": {"operationId": "purchase_purchase-order_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PurchaseOrder"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_purchase-order_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseOrder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PurchaseOrder"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/purchase-order/{id}/": {"get": {"operationId": "purchase_purchase-order_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseOrder"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_purchase-order_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseOrder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseOrder"}}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/purchase/purchase-request/": {"get": {"operationId": "purchase_purchase-request_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PurchaseRequest"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_purchase-request_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseRequest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PurchaseRequest"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/purchase-request/{id}/": {"get": {"operationId": "purchase_purchase-request_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseRequest"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_purchase-request_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseRequest"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseRequest"}}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/purchase/purchase-return/": {"get": {"operationId": "purchase_purchase-return_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PurchaseReturn"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_purchase-return_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseReturn"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PurchaseReturn"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/purchase-return/{id}/": {"get": {"operationId": "purchase_purchase-return_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseReturn"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_purchase-return_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseReturn"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PurchaseReturn"}}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this purchase return.", "required": true, "type": "integer"}]}, "/purchase/supplier/": {"get": {"operationId": "purchase_supplier_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Supplier"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_supplier_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/supplier/mini/": {"get": {"operationId": "purchase_supplier_mini", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/MiniSupplier"}}}}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/supplier/{id}/": {"get": {"operationId": "purchase_supplier_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_supplier_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["purchase"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/purchase/warehouse/": {"get": {"operationId": "purchase_warehouse_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "page_size", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Warehouse"}}}}}}, "tags": ["purchase"]}, "post": {"operationId": "purchase_warehouse_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Warehouse"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Warehouse"}}}, "tags": ["purchase"]}, "parameters": []}, "/purchase/warehouse/{id}/": {"get": {"operationId": "purchase_warehouse_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Warehouse"}}}, "tags": ["purchase"]}, "put": {"operationId": "purchase_warehouse_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Warehouse"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Warehouse"}}}, "tags": ["purchase"]}, "patch": {"operationId": "purchase_warehouse_partial_update", 
[...]
