@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #c8ae50;
  --secondary: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.main-container {
  width: 92vw;
}
@media (max-width: 576px) {
  .main-container {
    width: 100%;
    padding: 0 1rem;
  }
}
.main {
  min-height: 50vh;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
