.custom-bullet {
  width: 23px;
  height: 5px;
  background: var(--gray);
  border-radius: 10px;
  opacity: 0.5;
  margin-top: 5px;
  transition: opacity 0.3s, background 0.3s;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
  opacity: 1;
  width: 67px;
}
